@import"reset.css";@import"superfish.css";@import"grid.css";@import"forms.css";@import"prettyPhoto.css";@import"galleryfic.css";@import"kwicks.css";@import"coin-slider.css";@import"advanced.css";
body{background:#fff;font:13px/18px Arial, Helvetica, sans-serif;color:#2b2828;position:relative;min-width:960px;}
html,body{height:100%;}
p{padding-bottom:18px}
a{color:#e34e87;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.2em;color:#000;font-weight:normal;}
h1{font-size:34px; padding-bottom:15px;}
h2{font-size:22px;}
h3{font-size:19px; text-transform:uppercase;color:#e34e87;} 
h4{font-size:16px;}  
h5{font-size:15px; color:#61302b;}
h6{font-size:14px; color:#ee6638; text-transform:uppercase;}
/* Global Structure---------------------------------------- */
.main{margin:0 auto;position:relative;width:940px; overflow:hidden;}
/*----- txt,links,lines,titles -----*/
.clear{clear:both;line-height:0;font-size:0;overflow:hidden;height:0;width:100%;}
.wrapper{width:100%;overflow:hidden;position:relative;}
.extra-wrap{overflow:hidden;display:block;}
.reg{text-transform:uppercase}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.it{font-style:italic}
.letter{letter-spacing:-1px}
.color1{color:#e34e87;}
.color2{color:#9a9a9a;}
.color3{color:#000;}
.text-1{ line-height:24px;}
/*********************************header*************************************/
header{position:relative;z-index:99;padding:38px 0 0 0; width:940px; margin:0 auto; background:url(../images/header.png) 0 100% no-repeat; padding-bottom:78px;}
header.header-main{ background:none; padding-bottom:17px;}
header h1{ padding:0 0 0 21px;}
header h1 a{ display:block; text-indent:-5000px; background:url(../images/logoAiesecBlueOnWhiteShort.png) 0 0 no-repeat; width:303px; height:78px;}
/********************** Content ************************/
section#content{overflow:hidden;position:relative; z-index:1;}
section#content.padcontent{padding:56px 0 68px 0;}
section#content.padcontent5{padding:16px 0 51px 0;}
section#content.padcontent2{padding:16px 0 48px 0;}
section#content.padcontent3{padding:16px 0 24px 0;}
section#content.padcontent4{padding:16px 0 12px 0;}
.borderbottom{ background:url(../images/lineH.png) 0 100% repeat-x; margin-bottom:25px; text-align:center;}
.borderred{ border-bottom:1px solid #ee673a; margin-bottom:16px;}
.line{ width:940px; margin:0 auto; background:url(../images/lineH2.png) 0 100% repeat-x; height:1px;}
.list-1 li{  padding:0 0 9px 0; font:14px/17px Arial, Helvetica, sans-serif;}
.list-1 li a{ color:#686868;background:url(../images/marker2.png) 3px 8px no-repeat #fff; display:inline-block; padding:2px 5px 2px 11px;}
	.list-1 li a:hover{ text-decoration:none;background:url(../images/marker.png) 3px 8px no-repeat;}
.list-2 { padding:0 0 0 26px; margin-top:-1px;}
.list-2 li{ background:url(../images/marker3.png) 0 4px no-repeat; padding:0 0 15px 21px; font:13px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;}
	.list-2 li a{ color:#2b2828;}
	.list-2 li a:hover{ color:#e34e87; text-decoration:none;}
.list-3 li{ padding-bottom:5px;}
	.list-3 li a{ color:#2b2828; text-decoration:underline;}
	.list-3 li a:hover{ text-decoration:none;}
.col-1{ width:309px; float:left; }
	.col-1 article{ margin-bottom:18px;background:#fff;}
	.col-1 article .extra-wrap{ padding:0 0 0 15px;}
	.col-1 article .extra-wrap a{ font-weight:bold; text-decoration:underline; margin-bottom:3px; display:inline-block;}
	.col-1 article .extra-wrap a:hover{ text-decoration:none;}
.padcol{padding:11px; position:relative; overflow:hidden;}
	.col-1 span{ display:block;}
.box2{ padding-bottom:19px;}
.box2 article{ padding:0 0 16px 0;}
.box3{ padding:14px 0 0 0;}
	.box3 article{background:#fff; padding:16px 10px 19px 19px; position:relative; overflow:hidden;}
	.box3 article .fleft{ padding:3px 0 0 0;}
	.box3 article .extra-wrap{ padding:0 0 0 19px;}
	.box3 article .extra-wrap p{ padding:18px 0 22px 0;}
	.box3 article .fleft a.lightbox-image span{ position:absolute; top:0; z-index:1; left:0; right:0; bottom:0;}
.map{ border:1px solid #a29d98;width:265px; height:191px;}
	.map iframe{ width:265px; height:191px;}
address.contacts{ font-style:normal; font:13px/20px Arial, Helvetica, sans-serif; padding:22px 0 73px 0;}
	address.contacts p{ padding-bottom:20px;}
	address.contacts span{ display:inline-block; width:73px;}
.tooltips{ position:relative; overflow:hidden; padding:2px 0 27px 0;}
	.tooltips li{ float:left; margin-right:3px;}
/*  Boxes */
.boxes{ position:relative; overflow:hidden; margin:0 auto; width:705px; padding:0; z-index:1;}
	.boxes .box{ width:235px; height:491px;position:relative; float:left; color:#fff;}
	.boxes .boxes-img{ position:absolute; top:0; left:0; background:#fff;}
	.boxes .bgbox{ height:0%; width:100%; position:absolute; bottom:0px; z-index:2;}
	.boxinner{ position:relative;width:235px; height:491px;}
	.part1{ position:absolute; bottom:0px; left:0; height:128px; width:100%; text-align:center;}
	.part2{ position:relative; z-index:3;width:235px; height:491px;}
	.title-1{ padding-top:32px;}
	.title-2{ position:absolute; bottom:-450px; left:0; width:100%; text-align:center;}
	.text-2{ position:absolute; bottom:-400px; left:23px; width:80%; text-align:center;}
	.boxes-arrow{ position:absolute; background:url(../images/slider-arrow.png) 0 0 no-repeat; width:21px; height:12px; left:107px !important;}
	.boxbutton{ position:absolute; bottom:-200px; left:59px;}
		.boxbutton a{ display:inline-block; color:#fff; font:13px/18px Arial, Helvetica, sans-serif; background: url(../images/slider-button.png) 0 0 repeat-x; padding:5px 28px 7px 25px; border-radius:20px;}
		.boxbutton a:hover{ background:#fff; text-decoration:none; color:#000;}
	.title-1, .title-2{ line-height:1.2em; color:#fff; font-size:42px;}
.box-1,.box-1 .bgbox,.box-1 .boxes-arrow{ background-color:#349837;}
.box-2,.box-2 .bgbox,.box-2 .boxes-arrow{ background-color:#E99118;}
.box-3,.box-3 .bgbox,.box-3 .boxes-arrow{ background-color:#42B3D2;}

.bg{ background:url(../images/bg2.png) 0 0 no-repeat; width:940px; height:3px; margin:0 auto;}
/*  Tabs2 */
.tabs.tabs2{padding:4px 0 0 0;}
.tabs.tabs2 p{ margin:0;}
	.tabs.tabs2 .tab-content{ clear:none;width:auto;width:660px;overflow:auto; float:left; background:#fff;}
	.tabs2{ min-height:auto;}
.nav.nav2{ width:250px; margin-right:29px; float:left;}
	.nav.nav2 li{ margin:0; margin-bottom:3px; float:none;font:bold 11px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;}
	.nav.nav2 li a{ display:block; background:#bdbdbd url(../images/tabs-marker.png) 20px 50% no-repeat; padding:12px 10px 9px 36px; color:#fff; text-transform:uppercase; }
	.nav.nav2 li.selected a{background:#3a3a3a url(../images/tabs-marker.png) 92% 50% no-repeat; color:#fff; padding:12px 10px 9px 19px;}
	.nav.nav2 li a:hover{ color:#fff;}
/*  Buttons */
.button{display:inline-block;color:#fff; font:14px/18px Arial, Helvetica, sans-serif; background:#3a3a3a; padding:5px 14px 6px 15px;}
	.button:hover{ background:#646464; text-decoration:none;}
.button1{display:inline-block; font-weight:bold; }
.link1{display:inline-block;color:#61302b; text-decoration:underline;}
	.link1:hover{ text-decoration:none;}
.link2{ display:inline-block; font-weight:bold; color:#000;}
/******************** Footer ******************/
footer{ width:931px; position:relative; overflow:hidden; margin:0 auto;background:url(../images/lineH2.png) 0 0 repeat-x; padding:10px 8px 45px 1px; font:13px/18px Arial, Helvetica, sans-serif; color:#2b2828;}
footer a{ color:#686868;}
/** padding **/
.padtop{ padding-top:18px;}
.padbot4{ padding-bottom:15px;}
.padbot22{ padding-bottom:25px;}
.padbot2{ padding-bottom:32px;}
.padbot{ padding-bottom:37px;}
.padbot3{ padding-bottom:43px;}
.spacing { margin-right: 15px;}
.space2 { margin-right:42px;}
.imgindent3{margin:0 19px 10px 0;}
.imgindent4{margin:0 0px 10px 19px;}
.padtop0{ padding-top:20px;}
.p1{ padding:20px 0 30px 0;}
.pad{ padding:0 0 29px 0;}
.pad2{ padding:45px 0 8px 0;}
	.pad2 .fleft{ padding:4px 17px 0 1px;}
.indent2{ padding-left:21px;}
.indent3{margin-bottom:14px;}
.indent5{margin-bottom:24px;}
.indent4{margin-bottom:27px;}
.padleft{ padding-left:52px;}
.imgindent{ float:left; margin:2px 25px 0 0;}
.img-404{ margin:30px 0 0 0;}
/* Left & Right alignment */
blockquote{display:block;quotes:none;font-weight:normal; font:18px/24px Arial, Helvetica, sans-serif; color:#e34e87; background:url(../images/quotes.png) 0 0 no-repeat; padding:17px 0 0 32px;}

.top1{background:url(../images/top.png) 0 60% no-repeat;padding:0 0 0px 15px;text-decoration:none;color:#5e5c5a;display:inline-block;font-size:12px; line-height:1.2em;text-transform:uppercase;}
.top1:hover{color:#ee6638;}
.line3{ border-bottom: 1px solid #ededed; width:950px; position:relative; margin:0 auto; margin-bottom:20px;}
.bordebottom2{ border-bottom: 1px solid #ededed; margin-bottom:20px;}

.ol_list-1{ list-style-position:inside}
.ol_list-1 li{padding:0px 0 8px 0;}
.ol_list-1 li a{color:#2b2828;}
	.ol_list-1 li a:hover{color:#e34e87; text-decoration:none;}
.page404{ padding:34px 0 0 0;}
	.page404 h1{ text-transform:uppercase; padding-bottom:0; font-size:56px;}	
	.page404 h3{color:#abaaaa; font-size:36px; margin-top:-19px; padding-bottom:32px;}
.bgfigure{ background:#fff; position:relative; float:left; margin:0 20px 10px 0;}
.bgfigure a{ position:relative; z-index:1;}
figcaption{ font:20px/24px Arial, Helvetica, sans-serif; text-shadow:1px 1px rgba(0,0,0,0.2); width:100%; text-align:center; color:#fff; padding:5px 0 6px 0; background:#e34e87; position:absolute; left:0; bottom:0px; z-index:99;}
ins{background:#e34e87;padding:0 5px;text-decoration:none;color:#fff;}
em{color:#e34e87;}
del{text-decoration:line-through;}
abbr,dfn{cursor:help;color:#e34e87;}
dfn{letter-spacing:2px;font-size:13px;}
sup,sub{font-size:0.8em;}
sub{vertical-align:bottom}
b,strong{ color:#000;}
.elements-list small{font-size:10px;font-family:Verdana,Geneva,sans-serif;} 
.elements-list big{font-size:21px; color:#000;}
.elements-list q{font-family:"Courier New",Courier,monospace;color:#e34e87;font-size:15px;}
abbr,acronym{text-transform:uppercase;border-bottom:1px dotted #e34e87;font-size:13px;}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;display:block}
code{background-color:#f6f6f6;display:block;color:#333;padding:3px 2px 3px 5px;line-height:1.67em;border:1px dotted #333}
pre{white-space:pre}
/* Layouts navigation */
.layouts-nav{width:100%;overflow:hidden;padding-bottom:30px !important}
	.layouts-nav li{float:left;margin-right:20px;background:none !important;padding:0 !important}
		.layouts-nav li a{float:left;background:#333;padding:2px 10px;color:#fff;text-decoration:none;border-radius:5px;position:relative;margin-right:10px;cursor:pointer;}
		.layouts-nav li a:hover{background:#aaa}
/* Definition list style */
dl dt{font-weight:bold;color:#e34e87;}
dl dt a{ font-weight:bold;}
dl dt a:hover{color:#000;}
dl dd{display:inline-block;padding-bottom:18px;}
/* Table styling */
table{border:2px solid #fff;}
table thead th{border-right:1px solid #fff;padding:15px 0px 16px;background:#ee6638;color:#fff; font:14px/18px Verdana, Geneva, sans-serif;}
table tbody td{border:1px solid #fff;width:129px;background:#f2f2f2;color:#2b2828;font:12px/15px Verdana, Geneva, sans-serif;}
table tbody .tr1 td{border-top:1px solid #e5e5e5;}
table tbody tr:hover td{background:#eee;}
/*  Dropcaps style */
.dropcap{font:bold 36px/44px Arial, Helvetica, sans-serif;color:#d1dcda;float:left;text-align:center;padding:0;margin:5px 10px 0 0;text-transform:uppercase;}
.dropcapPolicy{font:bold 15px/17px Arial, Helvetica, sans-serif;color:#d1dcda;float:left;text-align:center;padding:0;margin:0px 10px 0 0;text-transform:uppercase;}
/* Information box */
.info-box,.download-box,.notification-box,.error-box{padding:20px 30px 20px 110px;margin-bottom:15px;position:relative;height:1%;font-size:13px;}
.info-box{color:#64757f;background:#e1f2fc;border:1px solid #68a2cf}
.download-box{color:#697a58;background:#eeffdd;border:1px solid #a3c159}
.notification-box{color:#79725b;background:#fef7e0;border:1px solid #e6c555}
.error-box{color:#7e6c6c;background:#feebeb;border:1px solid #ff9999}
.info-box p.icon,.download-box p.icon,.notification-box p.icon,.error-box p.icon{position:absolute;left:34px;top:16px;margin:0}
/* Pages
/* Under Construction page =====*/
#constuction-box{width:800px;height:500px;position:absolute;left:50%;top:50%;margin-left:-400px;margin-top:-250px;background:#fff;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-color:#ccc;box-shadow:0 0 10px #d0d4db;-moz-box-shadow:0 0 10px #d0d4db;-webkit-box-shadow:0 0 10px #d0d4db;text-align:center}
	#constuction-box .inside{padding:40px 40px 40px 40px}
		#constuction-box .button{position:relative}
		#constuction-box h1{text-align:center;font-size:4em;margin-bottom:.2em;line-height:1.2em;letter-spacing:2px;border-bottom:1px solid #ddd;padding-bottom:10px;}
			#constuction-box h1 span{text-transform:uppercase;color:#00c4ff;display:block;margin-bottom:-15px}			
	/* Countdown */
	#countdown_dashboard{height:110px;padding:30px 0 40px 0;width:650px;margin:0 auto;position:relative}
	.dash{width:110px;height:114px;background:transparent url('../images/dash.png') 0 0 no-repeat;float:left;margin-left:20px;position:relative}	
	.dash .digit{font-size:75px;line-height:85px;font-weight:bold;float:left;width:55px;text-align:center;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;color:#555;position:relative}
		.dash .digit .bottom{font-size:75px;line-height:85px}	
	.dash_title{position:absolute;display:block;bottom:0px;left:0;font-size:12px;color:#555;text-transform:uppercase;letter-spacing:2px;width:110px}	
	.dev_comment{font-size:14pt;color:#777;text-align:center;font-style:italic;margin:40px 10px}	
	#subscribe_form{position:relative}	
	#email_field{font-size:16pt;padding:6px 10px;width:300px}	
	#subscribe_button{font-size:14pt;color:#333;padding:4px 8px}	
	.copyright{font-size:9pt;color:#333;margin:40px 0px}	
	.faded{color:#999}	
	.form_message{width:400px;padding:10px;margin:15px auto;display:none}	
	#error_message{background-color:#ffe;border-left:5px solid #bb3;border-right:5px solid #bb3;color:#770}
	#info_message{background-color:#f0f9ff;border:1px solid #eef}
	#loading{text-align:center;margin:10px;display:none;position:absolute;width:100%;top:60px}
/* Intro page */
#intro-box{width:600px;height:400px;position:relative;left:50%;top:50%;margin-left:-300px;margin-top:-200px;background:#fff;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-color:#ccc;box-shadow:0 0 10px #000;-moz-box-shadow:0 0 10px #000;-webkit-box-shadow:0 0 10px #000;text-align:center;float:left}
	#intro-box .inside{padding:40px 40px 40px 40px}
		#intro-box h1{text-align:center;font-size:4em;margin-bottom:.2em;line-height:1.2em;position:absolute;left:0;top:-90px;width:600px;overflow:hidden;height:100px;border:none;}
			#intro-box h1 span{text-transform:uppercase;color:#1fb7c4;display:block;margin-bottom:-15px}
		#intro-box .button{position:absolute;right:40px;bottom:10px;float:right;white-space:nowrap}
		.intro-buttons{width:500px;padding:0 50px;position:absolute;left:0;bottom:50px}
		#flash-intro{margin-bottom:20px;position:absolute;left:23px;top:20px}
/* Lightbox image */
.lightbox-image{display:inline-block;position:relative; overflow:hidden;}
.lightbox-image img{position:relative;z-index:2;}
.lightbox-image span,.lightbox-image strong{position:absolute;width:100%;height:100%;left:0;top:0;background:url(../images/magnify.png) 50% 50% no-repeat;}
.col-1 .lightbox-image span{ background-color:#fff;}
.lightbox-image strong{ top:100%; z-index:5;}
/* SlideDown element */
.slideDown{padding:0 1px 0 0}
	.slideDown dt{background-color:#333132;background-image:url(../images/arrow1.gif);background-repeat:no-repeat;background-position:100% 16px;box-shadow:1px 1px 1px #d1d1d1;-moz-box-shadow:1px 1px 0 #d1d1d1;-webkit-box-shadow:1px 1px 0 #d1d1d1;color:#fff;padding:9px 0 9px 21px;margin-bottom:4px;font-weight:bold;text-decoration:none;display:block;font-size:12px;cursor:pointer;margin-bottom:10px}
	.slideDown dt:hover,.slideDown dt.active{background-color:#bbb;color:#fff;text-shadow:0 0 5px #fff}
	.slideDown dt.active{background-image:url(../images/arrow2.gif)}
	.slideDown dd{display:none;padding:10px 20px 20px 20px;}
	#block dd{display:block}
	.slideDown.absolute dd{position:absolute;z-index:999;background:#fff;}
/* Accordion */
dl#accordion{list-style-type:none;margin:0;padding:0 2px 0 0;height:auto !important}
	dl#accordion .indent{padding-top:7px !important;padding-bottom:5px !important}
	dl#accordion a{display:block;text-decoration:none}
	dl#accordion dt{margin:0px}
		dl#accordion dt a{background-color:#333132;background-image:url(../images/arrow1.gif);background-repeat:no-repeat;background-position:100% 16px;box-shadow:1px 1px 1px #d1d1d1;-moz-box-shadow:1px 1px 0 #d1d1d1;-webkit-box-shadow:1px 1px 0 #d1d1d1;color:#7f7f7f;padding:9px 0 9px 21px;margin-bottom:4px;font-weight:bold;text-decoration:none;display:block;font-size:12px}
		dl#accordion dt a:hover{background-color:#8e8d8b;color:#fff}
		dl#accordion dt.active a{background-color:#ccc;background-image:url(../images/arrow2.gif);color:#333}
	dl#accordion dd{display:none;margin-bottom:0;padding-left:0}
		dl#accordion dd .indent{padding:10px 30px 14px 20px !important}
		dl#accordion dd a{display:inline;background:none;padding:0;width:auto;text-decoration:underline}
		dl#accordion dd a:hover{text-decoration:none;background:none}
		dl#accordion dd .sub_menu  li{list-style:none;line-height:30px!important;padding-left:12px;}
		.sub_menu li a{font-size:13px !important;line-height:30px!important}
/* Tooltips */
#aToolTip{border:2px solid #e34e87;background:#fff;color:#000;margin:0;padding:2px 8px;font-size:11px;position:absolute;display:none;z-index:50000}
#aToolTip .aToolTipContent{position:relative;margin:0;padding:0}
a#aToolTipCloseBtn{display:block;height:20px;width:20px;overflow:hidden;background:url(../images/close.gif) no-repeat;text-indent:-9999px;outline:none;position:absolute;top:-15px;right:-20px}
/* Elements list */
.elements-list li{background:none !important;padding:0 0 0px 0 !important;position:relative;line-height:28px}
.elements-list li code{position:absolute;right:0;top:-3px;padding:2px 3px 1px 3px;border:1px dotted #333}
/* Tabs */
.tabs{padding:15px 0 30px 0}
 .tabs ol{list-style-type:decimal;margin:0 0 0 20px}
  .tabs ol li{display:list-item;float:none;padding-bottom:5px !important;font-size:12px;color:#000} 
 .tabs ul{list-style:none;padding:0 0 0 0 !important;overflow:hidden}
  .tabs li{display:block;float:left;margin:0 5px 5px 0;background:none;padding:0 0 0 0 !important}
  .tabs .selected{margin-bottom:0px;position:relative}
  .tabs li a:hover{color:#000; background-color:#eee;}
  .tabs li.selected a{background:#eee;color:#000;padding-bottom:10px}
  .tabs li a{background:#000;color:#fff;display:block;padding:5px 10px;text-decoration:none}
 .tabs .tab-content{background:#eee;clear:both;width:auto;max-width:900px;overflow:auto; color:#000;}
  .tabs .tab-content .inner{padding:10px} 
 .tabs p{margin-bottom:5px}
 .tabs pre{margin:4px 0}
 .tabs code{overflow:auto}
 *+html .tabs code{overflow:visible}
/* Twitter */
#twitter p{margin:0;}
	#twitter h2{margin:0 0 5px 0;padding:.5em 1em;font-size:1.5em;color:#fff;background-color:#888;letter-spacing:0;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px}
	#preloader{margin:0;padding:1em 1em 1em 3em;text-indent:10px;background:transparent url(../images/loader.gif) 1em center no-repeat}
	ul#twitter_update_list{margin:0;padding:0 0 0.5em 0;list-style-type:none}
		ul#twitter_update_list li{margin:0;padding:0.8em 0 1em 1em !important;background:#eee;margin-bottom:7px}
		ul#twitter_update_list li:hover{background-color:#ccc;color:#fff}
			ul#twitter_update_list li:hover a{color:#000}
			ul#twitter_update_list li a{color:#000}			
				ul#twitter_update_list li span{display:block}				
				ul#twitter_update_list li span a{color:#000}
			ul#twitter_update_list li.lastTweet{border-bottom:none}			
			a#profileLink{display:block;padding:0.3em 1em;color:#fff;background-color:#000}
/* Code grabber */
.code{padding:30px 0 10px 0}
.code a.code-icon{margin-bottom:10px}
.code a.code-icon i{padding-right:6px;font-style:normal}
.code div.grabber{display:none}
.code code{padding:0 10px 0 10px;background:#f6f6f6;color:#333;border:1px solid #dfdfdf;white-space:pre;overflow:auto}